[Unit]
Description=CSYE 6225 Node.js App
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
ExecStartPre=/usr/bin/google_metadata_script_runner startup
ExecStart=/usr/bin/node /home/webapp/App.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
