[Unit]
Description=CSYE 6225 Node.js App
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
ExecStartPre=/bin/bash -c 'bin/test -e /home/webapp-main/backend/.env'
ExecStart=/usr/bin/node /home/webapp-main/backend/App.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
